button  {
       background-color:#FFD369 ;
       width: 100%;
        color: #black;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
         }
       body{
          margin-top: 0;
          font-family: cursive;
          font-size: 50px;
        }
    
